.catrgorycontainer {
  /* border: 1px solid black;
  border-radius: 15px; */
}
.categorylink {
  text-decoration: none;
  color: black;
}
.categorylink > div:hover {
  color: greenyellow;
  background-color: deepskyblue;
}
.categorylink > div {
  letter-spacing: 3px;
  font-size: larger;
  background-color: #66B3FF  ;
  border-radius: 15px;
}
