#carousel {
  overflow: hidden; /* 隐藏溢出内容 */
}

.carousel-item img {
  max-width: 100%; /* 图片最大宽度为父容器宽度 */
  height: auto; /* 自适应高度 */
  margin: auto; /* 居中显示 */
}

.carousel-item {
  display: flex; /* 使用弹性盒子模型 */
  align-items: center; /* 垂直居中 */
}