.card:hover {
  transform: scale(1.05);
  /* 放大 5% */
  transition: transform 0.3s ease;
  /* 添加过渡效果 */
}

.toast:hover {
  transform: scale(1.05);
  /* 放大 5% */
  transition: transform 0.3s ease;
}

.talent-clicked {
  background-color: white;
  /* 添加任何其他你想要的样式 */
}
