/* 移除 Accordion 的箭頭 */
.no-arrow-accordion .accordion-button::after {
    display: none !important;
    text-align: center;
}

/* 調整 Nav.Link 的顏色 */
.nav-link-no-arrow {
    color: black !important;
}

/* 設定 Accordion 和 Accordion.Header 的背景顏色 */
.no-arrow-accordion .accordion-item {
    background-color: 	#D0D0D0;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.linksContainer > a:active{
    color: red;
}
.link {
    margin: 10px;
}

.accHeader{
    /* border-bottom: 1px solid black; */

}

.accHeader > h2{

}

.accHeader > button{
    color: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 5px 0;
    background-color: #E0E0E0;
}

.accHeader>button:active,
.accHeader>button:focus
{
    background-color: #E0E0E0;
    box-shadow: none;    
}

.accHeader > button::after{
    display: none !important;
    
}

.accordion-button{
    background-color: black;
}