/* 移除 Accordion 的箭頭 */
.no-arrow-accordion .accordion-button::after {
  display: none !important;
  text-align: center;
}

/* 調整 Nav.Link 的顏色 */
/* .nav-link-no-arrow {
  color: black !important;
} */

/* 設定 Accordion 和 Accordion.Header 的背景顏色 */
.no-arrow-accordion .accordion-item {
  background-color: #d0d0d0;
}

.navLink {
  font-size: 24px;
  text-align: center;
}

.navLink:active {
  /* font-size: 600;
  color: black;
  background-color: darksalmon;
  border-radius: 10%; */
}

.navLink:hover {
  color: rgb(47, 114, 237) !important;
  font-weight: 600;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.linksContainer > a:active {
  color: red;
}

.link {
  margin: 10px;
}

.accHeader {
}

.accHeader > h2 {
}

.accHeader > button {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0.5rem 0;
  background-color: #e0e0e0 !important;
}

.accHeader > button:hover {
  color: rgb(47, 114, 237) !important;
  font-weight: 600;
}

.accHeader > button:active,
.accHeader > button:focus {
  background-color: #e0e0e0;
  /* background-color: #d0d0d0; */
  box-shadow: none;
}

.accHeader > button::after {
  display: none !important;
}

.accordion-button {
  background-color: black;
}
