.selected-option,
.selected-option:hover {
    background-color: black;
    color: white;
}
#factor strong{
    background-color:peachpuff;
}
#clean:hover{
    cursor: pointer;
}

.description{
    text-indent:32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    padding-top: 2rem;
}