input[type='checkbox']:checked + label {
  color: darkturquoise;
}

.selectContainer {
  border: 1px solid lightcyan;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px lightskyblue;
  margin-bottom: 60px;
}

.checkboxContainer {
  padding: 10px 0 10px 10px;
}

.checkboxContainer > label {
  margin-left: 0.5rem;
}

.identity {
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid gold;
  background-color: antiquewhite;
}

.link:hover {
  color: darkturquoise;
}

.faheart {
  color: red;
  height: 25px;
  width: 25px;
}

.faregheart {
  height: 25px;
  width: 25px;
}

.faheart:hover {
  cursor: pointer;
}

.faregheart:hover {
  cursor: pointer;
}
