
.noto-serif  {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-style: normal;
}
.search-container{
  scale: 0.5;  
  float: right;
}
.search-container input[type=text] {
  padding: 6px;
  font-size: 20px;
  border: none;
  }

.search-container button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;


}
nav button {
  scale: 0.75;
 
}
.navbar {
  background-color:peachpuff;
}


.nav-link:hover {
  /* Change this to the desired hover color */
  color: white; /* Change this to the desired text color on hover */
}



.modal-content {
  background-color:peachpuff !important; /* 更改為您想要的背景顏色 */
}







