.noto-serif {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-style: normal;
}

.search-container {
  scale: 0.5;
  float: right;
}

.search-container input[type=text] {
  padding: 5px;
  font-size: 20x;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.search-container input[type="text"]::placeholder {
  font-size: 28px;
  /* 设置输入框内文字的大小 */
}

nav button {
  scale: 0.75;

}

.navbar {
  background-color: peachpuff;
}

.modal-content {
  background-color: peachpuff !important;
  /* 更改為您想要的背景顏色 */
}

.slogan-text {
  font-family: "Noto Sans TC", sans-serif;
  font-size: large;
}