.search-container {
  scale: 0.5;
  float: right;
}

.search-container input[type=text] {
  padding: 5px;
  font-size: 28px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.search-container input[type="text"]::placeholder {
  font-size: 28px;
  /* 设置输入框内文字的大小 */
}

nav button {
  scale: 0.75;
}

.navbar {
  background-color: peachpuff;
}

.modal-content {
  background-image: url('../src/Components/img/background.jpg');
  background-size: cover;
  /* 確保背景圖片覆蓋整個視窗 */
  background-color: rgba(255, 255, 255, 0.4);
  /* 設置不透明度，值介於 0（完全透明）和 1（完全不透明）之間 */
}

#carouselimg img {
  width: 100%;
}

.slogan-text {
  font-family: "Noto Sans TC", sans-serif;
  font-size: large;
}

.nav-link:hover {
  color: #FFFFFF !important;
}

body {
  position: relative;
}

body::before {
  content: "";
  background-image: url('../src/Components/img/background.jpg');
  /* 請根據您的圖片路徑設置 */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  /* 您可以调整透明度的值 */
  z-index: -1;
  /* 将伪元素置于body内容之后 */
}